<div mat-dialog-content [formGroup]="form">
      <mat-card>
    <mat-card-header>
      <mat-card-title>Session Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="Sender CompId" formControlName="senderCompId" autocomplete="off">
	      </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="Targetd CompId" formControlName="targetCompId" autocomplete="off">
	      </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="Begin String" formControlName="beginString" autocomplete="off">
	      </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="Start Time" formControlName="startTime" autocomplete="off">
	      </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="End Time" formControlName="endTime" autocomplete="off">
	      </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="Heart Beat Int" formControlName="heartBtInt" autocomplete="off">
	      </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="Connection Port" formControlName="socketConnectPort" autocomplete="off">
	      </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
             <input matInput placeholder="Connection Host" formControlName="socketConnectHost" autocomplete="off">
	      </mat-form-field>
        </div>
        <div class="col">
          
        </div>
      </div>
  </mat-card-content>
</mat-card>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button (click)="save()">Ok</button>
</div>